/* You can add global styles to this file, and also import other style files */


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Monserrat-bold;
    /* src: url('../fonts/montserrat/Montserrat-Bold.ttf'); */
    src: url('assets/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: AvenirNrxtLT-regular;
    src: url('assets/fonts/avenir/AvenirNextLTPro-Regular.otf');
}


/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: AvenirNrxtLT-regular, Monserrat-bold;
    background-color: #004b40;
}


/*---------------------------------------------*/

a {
    font-family: AvenirNrxtLT-regular;
    font-size: 12px;
    line-height: 1.7;
    color: #4d4d4d;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}


/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: AvenirNrxtLT-regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/

input {
    outline: none;
    border: none;
}

label {
    display: block;
    margin: 0;
}


/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

footer {
    background-color: #1eeb00;
    color: #004b40;
    text-align: right;
    font-family: AvenirNrxtLT-regular;
    font-size: 14px;
}

@media(max-width:360px) {
    footer {
        text-align: center;
    }
}


/*//////////////////////////////////////////////////////////////////
  [ Utility ]*/

.txt1 {
    font-family: AvenirNrxtLT-regular;
    font-size: 12px;
    color: #4d4d4d;
    line-height: 1.4;
}

.txt2 {
    font-family: AvenirNrxtLT-regular;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.4;
    text-align: center;
    padding-top: 30px;
    text-decoration: underline;
}


/*//////////////////////////////////////////////////////////////////
  [ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.ayuda {
    color: #ffffff;
    text-decoration: underline;
    padding: 8px 0 0 15px;
}


/*//////////////////////////////////////////////////////////////////
  [ prueba2 ]*/

.dimension {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


/*==================================================================
  [ Form ]*/

.formC {
    padding-top: 20px;
    margin-top: 30px;
    width: 40%;
    background-color: #ffffff;
    border: 3px solid #1eeb00;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

@media(max-width:280px) {
    .formC {
        width: 99%;
    }
}

@media(max-width:360px) {
    .formC {
        width: 86%;
    }
}

@media(max-width:411px) {
    .formC {
        width: 86%;
    }
}

@media(max-width: 540px) {
    .formC {
        width: 86%;
    }
}

.login100-form-title {
    font-family: Monserrat-bold;
    font-size: 20px;
    color: #004b40;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    background-color: #ffffff;
}


/*------------------------------------------------------------------
  [ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
}


/*---------------------------------------------*/

.input100 {
    font-family: AvenirNrxtLT-regular;
    color: #9f9f9f;
    font-size: 14px;
    display: block;
    width: 100%;
    background: linear-gradient(#9f9f9f, #9f9f9f) center bottom /calc(100% - 150px) 1px no-repeat;
    height: 62px;
    padding: 0 80px 0 80px;
    background-color: #ffffff;
}


/*------------------------------------------------------------------
  [ Button ]*/

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 0 80px 0 80px;
    background-color: #ffffff;
}

.login100-form-btn {
    font-family: Monserrat-bold;
    font-size: 14px;
    background-color: #1EEB00;
    color: #004b40;
    border-radius: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 31px;
    width: 129px;
    padding: 0 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.observa {
    padding: 3px 80px 0 80px;
    text-decoration: underline;
    background-color: #ffffff;
}


/*==================================================================
  [ seguro ]*/

.seguro {
    padding-top: 20px;
    margin-top: 30px;
    width: 40%;
    background-color: #ffffff;
    border: 3px solid #1eeb00;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

@media(max-width:280px) {
    .seguro {
        width: 99%;
    }
}

@media(max-width:360px) {
    .seguro {
        width: 86%;
    }
}

@media(max-width:411px) {
    .seguro {
        width: 86%;
    }
}

@media(max-width: 540px) {
    .seguro {
        width: 86%;
    }
}

.escudo {
    background-color: #ffffff;
}

.parrafo {
    font-family: AvenirNrxtLT-regular;
    background-color: #ffffff;
    text-align: center;
    color: #004B40;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.inputSeguro {
    font-family: AvenirNrxtLT-regular;
    color: #9f9f9f;
    font-size: 18px;
    display: block;
    width: 100%;
    background: linear-gradient(#9f9f9f, #9f9f9f) center bottom /calc(100% - 150px) 1px no-repeat;
    height: 62px;
    padding: 0 80px 0 80px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/*==================================================================
  [ Filtros ]*/

.titlePurchase {
    font-family: Monserrat-bold;
    font-size: 32px;
    text-align: left;
    color: #1eeb00;
}

.container-filtro {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 80px 0 80px;
    background-color: #ffffff;
}

.filtro-btn {
    font-family: Monserrat-bold;
    font-size: 14px;
    background-color: #004b40;
    color: #ffffff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 31px;
    width: 129px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.buscar-btn {
    font-family: Monserrat-bold;
    font-size: 14px;
    background-color: #1eeb00;
    color: #004b40;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 31px;
    width: 129px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.cabecera {
    font-family: Monserrat-bold;
    color: #004b40;
    font-size: 16px;
}

td {
    font-family: AvenirNrxtLT-regular;
    color: #5D5D5D;
    font-size: 16px;
}